.user-exit{
    min-width: 100px;
    left:1795px;
}

.body{
	min-height:1130px;
}

.left{
	border:1px solid #cccccc;
	position:absolute;
	top:80px;
	width:18%;
	left:16%;
	height:760px;
}

.userin{
	position:absolute;
	top:100px;
	text-align:center;
	width:100%;
	height:auto;
}

.userin .username{
	font-size:32px;
	text-align:center;
	color:#337ab7;
}

.userin .welcome{
	font-size:50px;
	text-align:center;
	font-family:STXingkai;
}

.user-action{
	top:390px;
	left:30%;
	width:60%;
	height:300px;
	position:absolute;
	margin-bottom:8px;
}

.user-action span{
	border-top:1px solid #cccccc;
	float:left;
	width:100%;
	height:70px;
	font-size:26px;
	line-height: 70px;
}

.user-action a{
	cursor:pointer;
	display:block;
	color:#8C8C8C;
}

.user-action a:link{
	color:#8C8C8C;
}

a:focus,a:hover {
	text-decoration:none;
}

.contain1,.contain2,.contain3,.contain4,.contain5{
	display:block;
	position:absolute;
	top:80px;
	border:1px solid #cccccc;
	width:50%;
	left:36%;
	min-height:1100px;
	margin-bottom:20px;
}

.contain1{
	display:block;
}
.contain2,.contain3,.contain4,.contain5{
	display:none;
}

.search{
	width:100%;
	text-align:center;
	padding:10px;
	border-bottom:1px solid #cccccc;
	height:75px;
}

.search span{
	text-align:left;
	width:30%;
	margin-left:30px;
	line-height:55px;
	float:left;
	font-size:24px;
}

.info-set{
	margin-left:20%;
	width:75%;
}

.form-control{
	float:right;
	margin-right:15px;
}

.info-set input{
	width:72%;
	height:50px;
	line-height: 50px;
	margin-left:0px;
	float:left;
	font-size: 18px;
}

.info-set span{
	font-size:16px;
}

.info-set div{
	display:block;
	margin-top:20px;
	float:left;
	width:100%;
	
}

.info-set button{
	margin-top:30px;
	margin-left:30%;
	height: 55px;
	width: 120px;
	font-size: 20px;
}

.page{
	width:100%;
	text-align:center;
	position:absolute;
	bottom:10px;
}

.article{
	margin-left:3%;
	margin-right:3%;
	margin-top:20px;
	filter:alpha(opacity=90);
    opacity:0.9;
}

.article button{
	float:right;
	bottom:5px;
}

.panel-title{
	display:inline;
}

.del{
	float:right;
	right:0px;
	display:inline;
	color: #337ab7;
	font-size:14px;
	font-weight:400;
}
.del a:link{
	color: #337ab7;
}
.del a{
	color: #337ab7;
}
.time{
	float:right;
	right:0px;
	display:inline;
	color: #337ab7;
	font-size:14px;
	font-weight:400;
	line-height:30px;
}

.attention{
	text-align:center;
	width:180px;
	float:left;
	margin-left:20px;
	margin-top:20px;
	filter:alpha(opacity=80);
    opacity:0.8;
}
.attention img{
	margin-left:10%;
	margin-right:10%;
	width:80%;
	height:120px;
}
.attention span{
	width:100%;
	font-size:16px;
}

.visit{
	cursor:pointer;
	color: #337ab7;
	font-size:14px;
	font-weight:400;
}

.orders{
	width:94%;
	margin-left:3%;
	margin-right:3%;
	margin-top:20px;
	background-color:white;	
	filter:alpha(opacity=70);
    opacity:0.7;
	border-radius: 5px;
	font-size:16px;
	color: #333;
	text-align:center;
}

.orders th{
	text-align:center;
}


.addarticles{
	margin-left:3%;
	margin-right:3%;
	margin-top:20px;
	filter:alpha(opacity=90);
    opacity:0.9;
}

.addarticles .btn{
	margin-left:50px;
	margin-right:50px;
}
/* .title{
	resize:none;
	width:80%;
	float:left;
	margin-left:10%;
	font-size:23px;
}

.text{
	margin-left:20px;
	width:100%;
	font-size:23px;
	float:left;
	margin-top:8px;
	margin-bottom:5px;
} */